.generic-container
  .row
    .col-md-6.col-md-offset-3
      %h1= "Editing Blog with Id : #{@blog.id}"
      = render 'form'
      %br/
      = link_to 'Go Back', bloggers_path, class: 'btn btn-danger'