%a{:name => "about"}
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Welcome Bloggers
          %h3 A Blog Platform by Pikes soft
          %hr.intro-divider
            %ul.list-inline.intro-social-buttons
              %li
                %a.btn.btn-info{:href => "https://twitter.com/ammadbaig"}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
              %li
                %a.btn.btn-warning{:href => "https://github.com/ammad.pikes"}
                  %i.fa.fa-github.fa-fw
                  %span.network-name Github
              %li
                %a.btn.btn-primary{:href => "#"}
                  %i.fa.fa-linkedin.fa-fw
                  %span.network-name Linkedin
            .well
              / = render current_user.mailbox.inbox
