body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


.alert{
    margin-top: 60px;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 30px;  /*If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
   text-align: center;
    color: #757575;
}

.intro-message {
    position: relative;
    padding-top: 40px;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px #F5F5F5;
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px #F5F5F5;
}

.generic-container{
    padding-top: 60px;
    color: #757575;
}

.devise-links-gap{
    padding-top: 10px;
}

.actions{
    padding-top: 10px;
}


.text-label {
    padding-top: 10px;
}




@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }
}



@media(max-width:1199px) {}
@media(max-width:767px) {}

