%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  .container.topnav
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.topnav{:href => "#"}
        %span.glyphicon.glyphicon-tint.color-class
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => root_path } Home
        %li
          %a{:href => "#" } About
        %li
          %a{:href => conversations_path } Conversations
        - if user_signed_in?
          %li
            %a{:href => edit_user_registration_path }
              %span.glyphicon.glyphicon-cog 
              Settings
          %li
            %a{:href => new_blogger_path}
              %span.glyphicon.glyphicon-plus
              Add Blog
          %li
            %a{:href => bloggers_path}
              %span.glayphicon.glyphicon-th
              All Blogs
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %a{:href => destroy_user_session_path }
              = "#{current_user.username} | Sign out"
        - else
          %li
            %a{:href =>  new_user_registration_path }
              %span.glyphicon.glyphicon-user 
              Sign Up
          %li
            %a{:href => new_user_session_path }
              %span.glyphicon.glyphicon-log-in
              Login